/*all*/
*{
  font-family: Helvetica, sans-serif;
}

/*nav*/

header {
      display: flex;
      flex-wrap: wrap;
      background-color: #65D8E4;
      padding: 1em;
      position: relative;
    }

.dropdown-content {
  width: 100%;
  color: white;
}

a.link {
  color: #262626;
  text-decoration: none;
}

  .logo {
    width:200px;
    max-width: 20%;
  }

a.menu-link {
            display: block;
            padding: 1em;
            width: 94px;
            margin-left: auto;
            color: #262626;
        }


    .menu-link__hamburger {
      margin: 0 auto;
      text-align: center;
      width: 33px;
      float: left;
      transform: translate(0,0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .menu-link__label {
      float: left;
      padding-left: .75em;
    }

    a.menu-link span {
      display: block;
      height: 5px;
      margin-bottom: 5px;
      position: relative;
      background: #262626;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      opacity 0.55s ease;
    }

    a.menu-link span:first-child {
      transform-origin: 0% 0%;
    }


    a.menu-link span:nth-child(3) {
      transform-origin: 0% 100%;
    }

    .menu-link.active .menu-link__hamburger {
      transform: translate(10px, 0);
    }

    .menu-link.active span {
      opacity: 1;
      background: black;
      transform: rotate(45deg) translate(-2px, -1px);
    }

    .menu-link.active span:nth-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    .menu-link.active span:nth-child(3){
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }

    nav[role=navigation] {
                clear: both;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }
            .js nav[role=navigation] {
                overflow: hidden;
                max-height: 0;
            }
            nav[role=navigation].active {
                max-height: 23em;
            }
            nav[role=navigation] ul {
                margin: 0;
                padding: 0;
                border-top: 1px solid #262626;
            }
            nav[role=navigation] li a {
                display: block;
                padding: 0.8em;
                border-bottom: 1px solid #262626;
            }

            @media screen and (min-width:1135px) {
                a.menu-link {
                   display: none;
                }
                .js nav[role=navigation] {
                    max-height: none;
                }
                nav[role=navigation] ul {
                    margin: 0 0 0 -0.25em;
                    border: 0;
                }

                nav[role=navigation]  li {
                    display: inline-block;
                    margin: 0 0.25em;
                }
                nav[role=navigation] li a {
                    border: 0;
                }
            }

/*full image*/

.hero-image {
    z-index: -2;
    height: 90vh;
    background-image: url(assets/hair_flip.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image__container {
    display: flex;
  align-items: center;
  justify-content: center;
    height: 100%;
}

.hero-image__text {
    z-index: 100;
    padding: 1em;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    text-align: center;
}

/* All this does is add a 50% black background on top of the image */
.hero-image:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    display: block;
    content: "";
}

.schedule_button{
    text-decoration: none;
    text-transform: uppercase;
    background-color: none;
    border: 3px solid white;
    width: 200px;
    text-align: center;
    color: white;
    padding: .8em;
    font-size: .5em;
    letter-spacing: 5px;
}

/*intro paragraph*/

.intro_header{
  font-size: 1.2em;
  padding-top: 40px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 5px;
  text-align: center;
}
@media screen and (min-width: 800px) {
.intro_header{
  font-size: 1.5em;
  margin-left: 125px;
  margin-right: 125px;
  padding-top: 80px;
  }
}

.intro{
  font-size: 1.2em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 200;
}
@media screen and (min-width: 800px) {
    .intro{
      font-size: 1.5em;
      padding-left: 125px;
      padding-right: 125px;
      padding-top: 10px;
      padding-bottom: 80px;
    }
}

/*column navigation*/

.columns{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 800px) {
  .columns {
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-between;
    }

  div {
    width: 100%;
  }
}

.column_link{
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    background-color: none;
    border: 3px solid #262626;
    text-align: center;
    padding: 1em;
    font-size: .8em;
    letter-spacing: 5px;
  }

  .column_text{
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: 200;
    font-size: .9em;
  }
@media screen and (min-width: 800px) {
  .column_text{
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: 200;
    font-size: 1.1em;
  }
}

.column_type{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  }
@media screen and (min-width: 800px) {
.column_type{
  margin-left: 15px;
  margin-right: 15px;
  }
}

.boxes_bg{
  background-color: #65D8E4;
}
@media screen and (min-width: 800px) {
.boxes_bg{
  background-color: #65D8E4;
  }
}

/*footer*/

footer {
  background-color: #262626;
  padding: 1em;
}

.footer_contact{
  color: white;
  font-size: .8em;
  margin-left: 60;
}

.footer_list{
  list-style: none;
}
